<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Unknown Street 62, Poznan, Poland</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "123456789" %></p>

    <h3>Email</h3>

    <p><a href="mailto:dskrzypek@nicmangroup.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.9472529131835!2d16.909256516113928!3d52.4076321797931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b34ec0d32f9%3A0xeead8563757deffa!2sUnnamed+Road%2C+60-101+Pozna%C5%84!5e0!3m2!1spl!2spl!4v1538064767737" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
